
.creditCardWrapper {
  margin-top: 10px;
  

  .creditCard {    
    position: relative;
    text-align: center;    
    width: 500px;
    height: 250px;
    border-radius: 5px;
    background-color: skyblue;
    margin: auto;
    color: white;
    font-weight: 600;
    margin-top: 5px;

    .bankName {
      position: relative;
      right: -182px;
      top: 12px;
      transform: scale(1.20);
    }

    .cardNumber{
      position: relative;
      top: 35%;
      font-weight: 800;
      padding: 5px;
      transform: scale(2.75, 1.50);
      

    }

    .expiryDate {
      position: relative;
      top: 45%;
      transform: scale(1.10);
    }

    .cardHolderName {
      position: relative;
      top: 53%;
      transform: scale(1.35);
      font-weight: bolder;
      right: 138px;
    }
  }
  
}



